body {
  background: linear-gradient(135deg, #1DB954 20%, #1ED760 80%);
  font-family: 'VT323', monospace;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  width: 90%;
  /* Adjust width to occupy more space */
  font-size: 1.3em;
  /* Slightly bigger font size */
}

.card {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-family: 'VT323', monospace;
  box-sizing: border-box;
}

button {
  background: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'VT323', monospace;
  transition: background 0.3s;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background: #ff4a3d;
}

p {
  margin-top: 20px;
  font-size: 0.9em;
  word-wrap: break-word;
}

footer {
  margin-top: 20px;
  font-size: 0.8em;
  color: #fff;
}